.ad-examples {

	&__row {
		flex-direction: column;
	}

	&__wrap {
		padding-top: 3rem;
		flex: 1;

		&:first-child {
			padding-top: 0;
		}
	}
	
	&__item {
		font-weight: 700;
	}
	
	&__title {
		margin-top: 0;
	}

	&__audio {
		padding-top: 3rem;
	}
}


//Player background
.mejs-container.mejs-container,
.mejs-container .mejs-controls,
.mejs-container .mejs-embed,
.mejs-container .mejs-embed body {
  background-color: $white!important;
}

.mejs-container {
	box-shadow: 3px 3px 3px rgba($gray, .8);
	width: calc(100% - 5rem)!important;
	left: 5rem;
}

.mejs-container, .mejs-controls {
	border-radius: 10px!important;
}

.mejs-button {
	box-shadow: 3px 3px 3px rgba($gray, .8);
	border-radius: 50%;
	position: absolute;
	left: -5rem;
	width: 60px!important;
	height: 60px!important;
	background: $white;
	top: -10px;

	&:hover {
		cursor: pointer;

		button {
			&:before {
				border-left: solid 15px $orange!important;
			}
		}
	}
}

//Player controls
.mejs-container .mejs-button > button {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 15px 10px;
	outline: none;

	&:before {
		width: 0; 
		height: 0; 
		top: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;  
		border-left: 15px solid $brown;
		content: '';
		position: absolute;
		transition: all ease .3s;
		border-radius: 3px;
		box-shadow: 3px 3px 3px rgba($black, .3);
	}
}

.mejs-container .mejs-time {
  color: #888888!important;
}

//Progress and audio bars

//Progress and audio bar background
.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  background-color: #98948e!important;
}

//Track progress bar background (amount of track fully loaded)
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background-color: rgba(219, 78, 136, 0.075);
}

//Current track progress and active audio volume level bar
.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #98948e;
}

.mejs-horizontal-volume-slider, .mejs-volume-button {
	display: none!important;
}

//Reduce height of the progress and audio bars
.mejs-container .mejs-time-buffering,
.mejs-container .mejs-time-current,
.mejs-container .mejs-time-float,
.mejs-container .mejs-time-float-corner,
.mejs-container .mejs-time-float-current,
.mejs-container .mejs-time-hovered,
.mejs-container .mejs-time-loaded,
.mejs-container .mejs-time-marker,
.mejs-container .mejs-time-total,
.mejs-container .mejs-horizontal-volume-total,
.mejs-container .mejs-time-handle-content {
  height: 3px;
}

.mejs-currenttime-container, .mejs-duration-container {
	display: none;
}

.mejs-container .mejs-time-handle-content {
  top: -6px;
}

.mejs-time-handle-content, .mejs-time-handle {
	border: 6px solid rgba($brown, 1)!important;
	border-radius: 50%!important;
	top: -4px;
}

.mejs-container .mejs-time-total {
  margin-top: 8px;
}

.mejs-container .mejs-horizontal-volume-total {
  top: 19px;
}