.btn {
	display: inline-block;
	padding: .2rem;
	border-radius: .2rem;
	font-weight: 700;
	transition: all ease .3s;

	&--green {
		background: $green;
		color: $white;
	}

	&--orange {
		background: $orange;
		color: $white;
	}

	&--nav {
		margin-right: 1rem;
		text-shadow: 3px 3px 5px rgba($black, .5); 

		&.is-active > a {
			color: $white;				
		}

		.nav__link {
			&:hover {
				color: $white;
			}
		}

		@include below (sm) {
			margin-left: 1rem;
			margin-top: .5rem;
			margin-bottom: .5rem;
		}

		a {
			color: $white;
		}
	}

	&--large {
		width: 100%;
		padding: .6rem;
		border-radius: .7rem;
		font-variant-caps: small-caps;
	}

	&--footer {
		padding: .1rem .8rem;
		display: block;
		text-align: center;

		&.last {
			margin-top: 1rem;
		}
	}
}