.employee {

	&__item {
		padding-bottom: 3rem;
	}

	&__text {
		padding-right: 0;

		a {
			color: $orange;
			transition: all ease .3s;

			&:hover {
				color: $color-font-body;
			}
		}

		@include below (sm) {
			padding-left: 0;
		}
	}
}