/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	margin-top: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	

	&__tagline {
		top: 3.3rem;
		position: relative;
		text-align: right;
		color: darken($gray, 5%);
		font-size: 20px;
		z-index: -1;
		@extend .wrap, .hpad;


		@include above (md) {
			top: 2.7rem;
			font-size: 46px;
		}
	}

	&__row {
		@include below (sm) {
			display: block;
		}
	}

	&__item {

		a {
			color: $white;
			transition: all ease .3s;

			&:hover:not(.btn) {
				color: $orange;
			}
		}


		h1,h2,
		h3,h4,
		h5,h6 {
			margin-top: 0;
			line-height: 1.2rem;
			margin-bottom: 0;
		}

		p {
			line-height: 1.2rem;

			* {
				line-height: 1rem;
			}
		}

		@include above (sm) {
			padding-top: 2rem;
			padding-bottom: 2rem;

			&--3, &--5, 
			&--6 {
				border-left: .1rem solid $orange;
			}

			&--5 {
				width: 33.3%;
			}
		}
	}

	&__title {
		margin-top: 0;
		font-weight: 400;
		margin-bottom: 1rem!important;
	}

	&__link {
		color: $white;
		font-weight: 700;
		transition: all ease .3s;
		display: block;
		line-height: 1.2rem;

		&:hover {
			color: $orange;
		}
	}

	&__copyrights {
		color: $brown-light;
		padding-top: 2rem;
		font-size: 14px;

		p {
			margin-bottom: 0;
		}
	}
}
