.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
		font-weight: 700;
	}

	&_body {
		width: 100% !important;

		@include above (sm) {
			margin-left: -1rem !important;
			margin-right: -1rem !important;
		}
	}

	&_fields {
		list-style: none;
		padding-left: 0;

		@include above (sm) {
			display: flex!important;
		}
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		padding: 1rem 2.5rem !important;
		border: none;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease;
	}

	// Submit wrapper
	&_footer {
		text-align: center;

		@include above (sm) {
			width: 50% !important;
    		margin-left: auto !important;
    	}
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label, &_html {
		color: $color-font-body;
	}

	&_required {
		color: $color-font-body!important;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	&_radio {
		display: flex;
		position: relative;
		width: 290px!important;

		li {
			flex-direction: column-reverse;
			flex: 1;
			position: relative;
			overflow: visible!important;
			text-align: center;

			@include below (sm) {
				margin: 0px 0 9px!important;
			}
		}

		&:before {
			content: '';
			width: 100%!important;
			left: 0;
			right: 0;
			height: 100%;
			z-index: 9;
			cursor: pointer;
			position: absolute;
			outline: none;
			border: none;
			border-radius: 0;
			-webkit-appearance: none!important;
			background: $white;
			margin-top: 25px;
			box-shadow: inset 2px 2px 2px $gray;
			border-radius: 15px;
		}

		input {
			height: 100%;
			position: absolute;
			z-index: 100;
			outline: none;
			border: none;
			border-radius: 0;
			-webkit-appearance: none !important;
			margin-top: 33px!important;
			background: transparent;
			left: 0; 
			
			&.is-active {
				&:after {
					content: '';
				    width: 25px;
				    height: 25px;
				    background-color: $gray;
				    border-radius: 50%;
				    display: inline-block;
				    position: absolute;
				    top: -4px;
				    z-index: 100;
				    transition: all .3s ease-in-out;
				}
			}
		}
	}

	&_months {

		&-1 {
			&.is-active {
				&:after {
					left: 5px;
				}
			}
		}

		&-2 {
			&.is-active {
				&:after {
					left: 50%;
	 		    	transform: translateX(-50%);
				}
			}
		}

		&-3 {
			&.is-active {
				&:after {
					left: auto;		 
		    		right: 5px;
				}
			}
		}
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		width: 100% !important;
		padding: 12px 5px!important;
		text-indent: .25em;
		line-height: 1 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		color: $color-font-body;
		border-radius: 15px;
		box-shadow: inset 2px 2px 2px $gray;
		font-weight: 700;

		&:hover {
			
		}

		&:focus {

		}
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100% !important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}


.gf_column {
	@include above (sm) {
		width: 50%;
		display: inline-block;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.gf_price_month {
	padding: 50px 30px!important;
	background: $white;
	margin-top: 80px;
	display: inline-block;
	width: 100%;
	text-align: center;
	box-shadow: 2px 2px 2px $gray;
	border-radius: 10px;

	label {
		margin-top: 1rem;
	}

	@include above (sm) {
		max-width: 340px;
	}

	.ginput_product_price_label {
		display: none!important;		
	}

	.ginput_product_price {
		color: $orange!important;
	}

	.ginput_product_price {
		font-size: 32px;

		@include above (sm) {
			font-size: 42px;
		}
	}
}

.gf_player_quantity {

	.ginput_container_number {
		width: 70px;
	}

	input {
		text-align: center;
	}
}

.gf_transparent input {
	background: transparent!important;
	box-shadow: none!important;
	outline: none;
	padding-left: 0!important;
	text-indent: 0!important;
}

.gf_shipping {
	display: flex;
	align-items: center;

	.ginput_container {
		@include above (sm) {
			margin-top: 0!important;
		}
	}

	.ginput_product_price_label {
		display: none!important;
	}

	.ginput_product_price {
		color: $color-font-body!important;
		margin-left: .5rem;
	}
}