/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: relative;

  &__container {
  	padding-top: 1.5rem;
  	padding-bottom: 1rem;

    @include below (sm) {
      justify-content: flex-start!important;
    }
  }
  
  &__logo {
    display: block;
    float: left;

    img {
      width: 200px;
      height: 39px;
      
      @include above (sm) {
        width: 300px;
        height: 59px;
      }
    }
  }
}