.install {
	position: sticky;
	top: 235px;

	&__sequence {
		max-width: 80%;
		position: relative;

		@include below (sm) {
			display: none;
		}
	}

	&__video {
		width: 100%;

		@include above (sm) {
			display: none;
		}
	}

	&__scroll {
		@include below (sm) {
			display: none!important;
		}

		font-weight: 700;
		position: relative;
		margin-top: 0rem;

		&--icon {
			width: 2.5rem;
			height: auto;
			transition: all ease .3s;

			&.is-bottom {
				transform: rotate(180deg);
			}	
		}
	}
}

.easy-install { 
	.header {
		&.is-sticky {
			position: sticky;
			top: 0;
		}
	}

	.page__hero {
		&.is-sticky {
			position: sticky;
			top: 185px;
		}
	}
}