/********************LAYOUTS********************/

/* Base Styles */
.brown--bg {
  color: $white;
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {

  }

  &__col {
    font-weight: 700;

    a {
      color: $orange;
      transition: all ease .3s; 

      &:hover {
        color: $color-font-body;
      }
    }

    h1, h2, 
    h3, h4,
    h5, h6 {

      &:first-child {
        margin-top: 0;
      }
    }
	
	   @include above (sm) {
    		&.first {
    			p:last-child {
  			   margin-bottom: 0;
  			}
  		}
  	}
	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

  &--hvalign-reverse {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 1.5rem;
  }
  
  &--bottom {
    padding-bottom: 1.5rem;
  }

  &--both {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 3rem;
    }

    &--bottom {
      padding-bottom: 3rem;
    }

    &--both {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.border {

  &--top {
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        background: $orange;
        height: .2rem;
        top: 0;
        left: 1rem;
      }
  }

  &--bottom {
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        background: $orange;
        height: .2rem;
        bottom: 0;
        left: 1rem;
      }
  }

  &--both {
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        background: $orange;
        height: .2rem;
        top: 0;
        left: 1rem;
      }

      &:after {
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        background: $orange;
        height: .2rem;
        bottom: 0;
        left: 1rem;
      }
   }
}