.link-boxes {
 
	&__header {
		margin-top: 0;
	}

	&__item {
		font-weight: 700;
		margin-bottom: 3rem;

		img {
			@include above (sm) {
				margin-right: .5rem;
				position: relative;
			}
		}

		@include below (sm) {
			text-align: center;
		}

		&.home {
			.link-boxes__title {
				font-size: 18px;
				margin-bottom: 0;
			}

			img {
				position: relative;

				@include above (sm) {
					top: 2rem;
				}
			}
		}

		&.combine {
			@include above (sm) {
				p {
					padding-left: 4.3rem;
				}
			}
		}

		&.create {
			@include above (sm) {
				p {
					padding-left: 4.6rem;
				}
			}
		}

		&.select {
			@include above (sm) {
				p {
					padding-left: 3.9rem;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		@include below (sm) {
			width: 100%;
		}

		@include above (sm) {
			margin-bottom: 0;
		}
	}

	&__wrap {

		@include above (sm) {
			display: flex;
		}

		img {
			max-height: 50px;
			width: auto;
			align-self: center;
		}
	}

	&__title {

		@include below (sm) {
			margin-top: 1.5rem;
		}
	}
}