.mac-lookup {

	&__header {
		margin-top: 0;
	}

	&__status {
		font-weight: 700;
		opacity: 0;
		margin-top: -6rem;
		position: relative;
		transition: all ease .3s;
		transition-delay: .8s;

		&--server {
			text-align: center;
		}
	}

	&__form {
		list-style: none;
		padding-left: 0;

		&--list {
			width: 100%;
			margin-bottom: 1rem;
		}

		&--label {
			display: block;
			font-weight: 700;
		}

		&--input {
			width: 100%;
			padding: 12px 5px;
			border-radius: 15px;
			border: none;
			box-shadow: inset 2px 2px 2px $gray; 
			text-indent: .8rem;
		}
	}
}