/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {
  
  	&__title {
		margin-top: 0;

		@include below (sm) {
			margin-top: 1.5rem;
		}
  	}
}
