/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "orange" $orange, "green" $green, "brown" $brown, "brown-light" $brown-light;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value;
  }
}
